body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 30px;
}

#diff {
    font-size: 18px;
    padding-top: 4%;
    display: inline-flex;
}

#diff > * {
    padding-left: 6px;
    color: black;
}

h1 {
    font-size: 60px;
    font-style: italic;
    padding-top: 5%;
}

#hexlist {
    padding: 2% 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#hexlist > * {
    padding: 50px;
    margin: 0 1%;
    border-radius: 50%;
}

a {
    text-decoration: none;
}