body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 30px;
}

#diff {
    font-size: 18px;
    padding-top: 4%;
    display: inline-flex;
}

#diff > * {
    padding-left: 6px;
}

h1 {
    font-size: 60px;
    font-style: italic;
    padding-top: 5%;
}

#hexlist {
    padding: 2% 0;
    display: inline-flex;
    justify-content: center;
}

a {
    text-decoration: none;
}